# OS FILES
###############################################################################
._*
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
ehthumbs.db
Thumbs.db

# PACKAGES
###############################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
